.popular{
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: column;
    height: 90vh;
}
.popular h1{
    color: #171717;
    font-size: 40px;
    font-weight: 500;
}
.popular hr{
    width: 150px;
    height: 5px;
    border-radius: 10px;
    background: #252525;
}
.popular-item{
    margin-top: 50px;
    display: flex;
    gap: 20px;
}